<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>create person</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

    <!--<script th:src="@{/js/personcrud.js}"></script>-->

    <link rel="stylesheet" th:href="@{/main.css}"
          href="../../main.css" />

</head>
<body ng-app="myApp" ng-controller="PersonHomeA1Controller">
<form class="form-horizontal">
    <div class="col-md-6">
        <div class="box-body">
            Person ID: <label>{{person.id}}</label>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label to-left">Name</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-thirty"
                           id="name" placeholder="Name"
                           ng-model="name"
                    />
                </div>
            </div>
        </div>
    </div>
    <input type="button" value="Send" ng-click="postdata(name)" /> <br/><br/>
    <!--<a class="create-button" ng-click="createPerson()">Create Person</a>-->
</form>
</body>
</html>