<div class="generic-container">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">Computer Details</span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <tr>
                    <th>ID</th><td>{{itemPersonHomeDetailCtl.id}}</td>
                </tr>
                <tr>
                    <th>Name</th><td>{{itemPersonHomeDetailCtl.name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>



